<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>


    </head>
    <body>

    <a href="/hexagonal-bdd/web/app.php/start">start</a>
    </body>
</html>
