{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Welcome to</span> tic tac toe</h1>
            </div>

            <div id="start">
                <!--form action="{{ path('start_game') }}" method="post"-->
                    <button>Start!</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}